<div class="text-center border">
	<%= profile_picture @agent %><br>
	<%= @agent.full_name %>
	<%= @agent.company %><br>
	<span><button class="btn btn-primary">Call&nbsp;<%= @agent.first_name %></button></span>
	<span><button class="btn btn-primary">Email&nbsp;<%= @agent.first_name %></button></span>
</div>