<div class="property-main-photo">
<p class='img-photo'>
  <%= image_tag(@property.photo_url, class:'show-photo') if @property.photo_url %>
</p>
</div>
<p class="par-1">
  <strong>Name:</strong>
  <%= @property.name %>
</p>


<p class="par-1">
  <strong>Address:</strong>
  <%= @property.address %>
</p>


<p class="par-1">
  <strong>Price:</strong>
  <%= @property.price %>
</p>


<p class="par-1">
  <strong>Rooms:</strong>
  <%= @property.rooms %>
</p>


<p class="par-1">
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>


