<% if !account_signed_in? %>
<%= render 'layouts/nav/public' %>
<%= render 'properties/user-not' %>
<% end %>

<% if account_signed_in? %>

<div class="fluid-container love">

<p class='img-photo'>
  <%= image_tag(@property.photo_url, class:'show-photo-1') if @property.photo_url %>
</p>
<div class="row">
<div class="col-8">
  <div class="col-6">
  <p class="par-2"><%= @property.address %></p>
  <p class="h3 par-2"><%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "For Sale" %></p>
</div>
<div class="col-6 show-div">
  <div class="row">
  
    <p class=""><strong>Rooms:</strong></p>
   <span><%= @property.rooms %></span>&nbsp;&nbsp;
  
  
    <p><strong>Bathrooms:</strong></p>
    <span><%= @property.bathrooms %></span>&nbsp;&nbsp;
 
  
    <p><strong>Parking space:</strong></p>
   <span><%= @property.parking_space %></span>
 
</div>
</div>
<div class="row border-top border-bottom estimate">
<div class="col-6">
 <%= link_to "Est Monthly Repayments of #{number_to_currency((@property.price - (@property.price * 0.1)) / 360, precision: 0)} *", "#", class:'text-success' %>
</div>
<div class="col-6 text-right">
  <strong class="text-success">Can I afford this property?</strong>
</div>
</div><br>
<div class="row property-description">
  <div class="col">
    
<p class='h3'><%= @property.name %></p>
<p class="h5">Property Description</p>
<div id="prop-details">
<%= simple_format @property.details %>
</div>
<button class="btn btn-outline-info" id="toggleDetails">Show more</button><br><br>
<p>* This rate is basedon a 30 yearmortage, after paying an initial 10%down payment. Shorter term mortages would require a higher monthly repeyment</p>
<p class="par-1">
  <strong>Price:</strong>
  <%= @property.price %>
</p>


<p class="par-1">
  <strong>Rooms:</strong>
  <%= @property.rooms %>
</p>


<p class="par-1">
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>
</div>
<div class="col-4">
  <%= render 'properties/agent_details' %>
</div>
</div>
</div>
</div>
</div>
<% end %>


