<% if !account_signed_in? %>
<%= render 'layouts/nav/public' %>
<%= render 'properties/user-not' %>
<% end %>

<% if account_signed_in? %>

<div class="fluid-container love">

<p class='img-photo'>
  <%= image_tag(@property.photo_url, class:'show-photo-1') if @property.photo_url %>
</p>
<div class="row">
<div class="col-8">
<p class="par-1">
  <strong>Name:</strong>
  <%= @property.name %>
</p>


<p class="par-1">
  <strong>Address:</strong>
  <%= @property.address %>
</p>


<p class="par-1">
  <strong>Price:</strong>
  <%= @property.price %>
</p>


<p class="par-1">
  <strong>Rooms:</strong>
  <%= @property.rooms %>
</p>


<p class="par-1">
  <strong>Bathrooms:</strong>
  <%= @property.bathrooms %>
</p>
</div>
<div class="col-4">
  <%= render 'properties/agent_details' %>
</div>
</div>
</div>
<% end %>


